@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


.phone-wallpaper{
    background-image: url('/wallpaper.png');
    background-position: center;
    background-repeat: no-repeat;
}